<?xml version="1.0"?>
<assembly>
	<id>analysis-hlseg-release</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>${project.basedir}/config</directory>
			<outputDirectory>elasticsearch-hlseg/config</outputDirectory>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/lib</directory>
			<outputDirectory>elasticsearch-hlseg</outputDirectory>
		</fileSet>
	</fileSets>

	<files>
		<file>
			<source>${project.basedir}/src/main/resources/plugin-descriptor.properties
			</source>
			<outputDirectory>elasticsearch-hlseg</outputDirectory>
			<filtered>true</filtered>
		</file>
	</files>
	<dependencySets>
		<dependencySet>
			<outputDirectory>elasticsearch-hlseg</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<excludes>
				<exclude>org.elasticsearch:elasticsearch</exclude>
			</excludes>
		</dependencySet>
		<dependencySet>
			<outputDirectory>elasticsearch-hlseg</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<includes>
				<include>com.hankcs:aho-corasick-double-array-trie</include>
				<include>com.hylanda:hlSegment</include>
				<include>org.slf4j:slf4j-api</include>
				<include>org.slf4j:slf4j-log4j12</include>
			</includes>
			<excludes>
				<exclude>log4j:log4j</exclude>
			</excludes>
		</dependencySet>
	</dependencySets>
</assembly>
